<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="incl/header_ :: header (pagename='CafeMenu ERROR')">header</div>

<div class="container-fluid pt-2">
    <div class="modal-body">
            <p class="h4 text-danger">CafeMenu makes an error</p>
            <p class="h6">Please return back to
                <a class="font-weight-bold" th:href="@{/orders}" href="/mainpage">Main Page</a> or to
                <a class="font-weight-bold" th:href="@{/items}" href="/orders">Orders list</a></p>
        <br>
        <p class="h6 text-danger">Error description:</p>
        <div class="modal-sm bg-light rounded-sm">
            <p th:text="${exception}">Exception body text</p>
        </div>

    </div>
</div>
</body>
</html>