<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="incl/header_ :: header (pagename='')">header</div>

<section id="main">
    <div class="container-fluid">
        <div class="row" >
            <a class="text-black">
                <br>
                <h4>&nbsp;Welcome to CafeMenu Web application.</h4><br>
                <h6>&nbsp;&nbsp;<u>Cafemenu</u> - application for cafe employees to control of making orders
                    (adding/editing items), filter them by date&time, editing and summarize
                    by items price inside & item quantity.
                </h6>
                <br>
            </a>
        </div>
        <div>
            <a href="ordersdto.html" class="btn btn-danger">Next to Orders list</a>
        </div>
    </div>
</section>

<div id="footer"></div>
</body>

</html>