<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet"
          href="../../resources/static/js/bootstrap.min.js"
          th:href="@{/resources/static/js/bootstrap.min.js}">
    <title>CafeMenu</title>
</head>
<body>
123
</body>
</html>
