<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap-datetimepicker.css"
          th:href="@{/resources/static/css/bootstrap-datetimepicker.css}">
    <title>CafeMenu - Orders list</title>
</head>
<body>

<header>
    <nav class="p-1 navbar navbar-expand text-white rounded bg-secondary">
        <a class="navbar-brand">
            <img src="../../resources/static/img/cmlogo.png"
                 th:src="@{/resources/static/img/cmlogo.png}" height="26" width="32" class="d-inline-block">CafeMenu</a>
        </a>
        <div class="collapse navbar-collapse">
            <button class="btn btn-outline-dark text-white" type="button" th:onclick="'window.location.href=\''+@{/mainpage}+'\''">Main</button>&nbsp;
            <button class="btn btn-outline-dark text-white" type="button" th:onclick="'window.location.href=\''+@{/ordersdto}+'\''">Orders</button>&nbsp;
            <button class="btn btn-outline-dark text-white" type="button" th:onclick="'window.location.href=\''+@{/items}+'\''">Items</button>
       </div>
    </nav>
    <nav id="headername" class="navbar bg-light text-dark">
        <h5>Orders list</h5>
    </nav>
</header>

<!-- ORDERS list-->
<section id="orders">
    <div class="container-fluid">
        <br>
        <div>
            <a href="order.html" th:href="@{/order}" class="btn btn-secondary">Add new order</a>&nbsp;
            <a href="#filterdatetime" class="btn btn-info" data-toggle="collapse">Filter by date&time</a>
        </div>

        <!-- Filter ORDERs by Date&Time field -->
        <div id="filterdatetime" th:class="${isFilterExpanded} ? 'collapse show' : 'collapse'" class="collapse">
            <div class="modal-content bg-secondary mt-1 p-1" style="max-width: 850px;">

                <!-- Filter Date&Time FORM to send: -->
                <form id="filterdatetimeForm"
                      th:object="${dateTimeFilterDTO}"
                      th:action="'../ordersdtofilterbydatetime'"
                      th:method="@{post}">
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <span class="shadow-sm">Please use correct date:</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span th:text="'Start & End'" class="input-group-text" id="">Start&End:</span>
                            </div>

                        <input th:class="'form-control'" class="form-control" type="datetime-local" id="startDateTime"
                               th:field="*{startDateTime}" >
                        <input th:class="'form-control'" class="form-control" type="datetime-local" id="endDateTime"
                               th:field="*{endDateTime}" >
                        </div>
                    </div>
                </form>
                <div><a href="#" class="btn btn-info" data-toggle="tooltip" th:href="@{/ordersdto}" title="Apply date filter"
                        th:onclick="@{document.forms['filterdatetimeForm'].submit(); return false;}">Apply filter</a>
                    <a href="#" class="btn btn-warning" data-toggle="tooltip"
                       th:href="@{/ordersdtofilterreset}" title="Reset date filter">Reset filter</a>
                </div>

            </div>
        </div>

        <h6></h6>
        <div class="row">
            <div class="col">
                <div class="card" style="max-width: 850px;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr class="text">
                            <th width="7%">ID</th>
                            <th width="10%">Empl ID</th>
                            <th width="24%">Order Date&Time</th>
                            <th width="20%" class="text-right">Total price</th>
                            <th width="17%" class="text-center">Items quantity</th>
                            <th width="25%"></th>
                        </tr>
                        </thead>
                        <!-- ORDERS list content -->
                        <tbody>
                            <tr th:each="orderdto : ${ordersdto}">
                                <td th:text="${orderdto.orderId}">orderId</td>
                                <td th:text="${orderdto.employeeId}">empId</td>
                                <td th:text="${orderdto.orderDateTime}">DateTime</td>
                                <td th:text="${#numbers.formatDecimal(orderdto.summaryPrice, 1, 'COMMA', 2, 'POINT')}" class="text-right">00.00</td>
                                <td th:text="${orderdto.itemsQuantity}" align="center">00</td>
                                <td class="text-right">
                                 <a th:href="@{|/order/${orderdto.orderId}|}" href="order.html"
                                    class="btn btn-sm btn-secondary" data-toggle="tooltip"
                                    data-placement="top">Edit</a>
                                 <span data-toggle="modal" data-target="#deleteDialog"
                                    th:attr="data-id=${orderdto.orderId}">
                                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                                 </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- DELETE ORDER Modal dialog window -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>

<script src="../../resources/static/js/bootstrap-datetimepicker.min.js"
        th:src="@{/resources/static/js/bootstrap-datetimepicker.min.js}"></script>
<script src="../../resources/static/js/moment.min.js"
        th:src="@{/resources/static/js/moment.min.js}"></script>



<!-- DELETE ORDER dialog script -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)
        $(this).find('.modal-body').text('Confirm order delete: ' + target.data('id'))
        document.getElementById('deleteUrl').href = '/orders/' + target.data('id') + '/delete';
    })
</script>

<!-- DateTimePicker -->
<script>
    $(function () {
        $('#createDate').datetimepicker({
            ignoreReadonly: true
        });
    });
</script>

</body>
</html>