<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="incl/header_ :: header (pagename='Order #'+${order.orderId})">header</div>

<!-- ORDER main form -->
<section id="order">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" style="max-width: 850px;">
                    <div class="card-body">
                        <!-- Employee ID form START -->
                        <form id="orderForm"
                              th:object="${order}"
                              th:action="@{${#httpServletRequest.servletPath}}"
                              th:method="@{post}">
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p>Please fix errors below:</p>
                            </div>
                            <input id="field_orderId"
                            type="hidden"
                            th:field="*{orderId}"/>
                            <div class="form-group">
                                <label class="form-control-label" for="field_orderEmployeeId">Employee ID:</label>
                                <input class="form-control form-control" type="text" maxlength="5" value="1"
                                       min="1" max="99999" step="1"  onkeypress="return isNumberKey(event)" id="field_orderEmployeeId"
                                       th:class="${#fields.hasErrors('orderEmployeeId')} ? 'form-control is-invalid' : 'form-control'"
                                       th:field="*{orderEmployeeId}"/>
                                <div th:if="${#fields.hasErrors('orderEmployeeId')}"
                                     class="invalid-feedback"
                                     th:errors="*{orderEmployeeId}">[errors]</div>
                            </div>
                        </form>
                        <!-- Employee ID form END -->

                        <!-- Add item to order BUTTON -->
                        <div>
                            <span th:hidden="${isNew}" data-toggle="modal" data-target="#itemsModal">
                                <a href="#" class="btn btn-secondary">Add item to order</a>
                                <h6></h6>
                            </span>
                        </div>

                        <!-- ORDER: ItemInOrder list START -->
                        <table th:hidden="${isNew}" th:if="${not #lists.isEmpty(iteminorders)}" class="table table-striped text-left">
                            <thead class="thead-light">
                                <tr>
                                    <th width="4%" class="text-center">ID</th>
                                    <th width="30%">Item name</th>
                                    <th width="10%" class="text-center">Price $</th>
                                    <th width="10%" class="text-center">Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!-- ItemInOrders - fill itemInOrders list with Remove button: -->
                            <tbody>
                                <tr th:each="iteminorder : ${iteminorders}">
                                    <td class="text-center" th:text="${iteminorder.iioItemId}">IioItemId</td>
                                    <td th:text="${iteminorder.iioItemName}">IioItemName</td>
                                    <td class="text-center" th:text="${#numbers.formatDecimal(iteminorder.iioItemPrice, 1, 'COMMA', 2, 'POINT')}" align="right">0.00</td>
                                    <td class="text-center" th:text="${iteminorder.iioItemCount}">0</td>
                                    <td>
                                        <span data-toggle="modal" data-target="#deleteDialog"
                                          th:attr="data-id1=${iteminorder.iioOrderId}, data-id2=${iteminorder.iioItemId},
                                          data-id2name=${iteminorder.iioItemName}">
                                            <a href="#" class="btn btn-sm btn-danger">Remove</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ORDER: ItemInOrder list END -->

                        <!-- Buttons Create/Edit order & Cancel-->
                        <!-- TODO: Fix buttons position/hiding when th:hasErrors appears -->
                        <div>
                            <a href="ordersdto.html" class="btn btn-success"
                               th:text="${isNew} ? 'Create new order' : 'Return to orders'"
                               th:onclick="@{document.forms['orderForm'].submit(); return false;}">Create/Edit order</a>
                            <a th:hidden="!${isNew}" th:href="@{/ordersdto}" href="ordersdto.html" class="btn btn-danger">Cancel</a>
                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ADD ITEM: Item select MODAL window -->
<div class="modal fade" id="itemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Select items to be added:</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <a th:href="@{/order/} + ${order.orderId}">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </a>
                </button>
            </div>

            <!-- Items list form -->
            <div class="modal-body">
                <div class="text-center">
                    <table class="table table-striped text-left">
                        <thead>
                        <tr class="text-left">
                            <th width="5%">ID</th>
                            <th width="40%">Item</th>
                            <th width="20%" class="text-right">Price $</th>
                            <th width="20%" class="text-center">Quantity</th>
                            <th width="15%"></th>
                            <th></th>
                        </tr>
                        </thead>

                        <!-- Items list content -->
                        <tbody>
                            <tr th:each="item,stat : ${items}">
                                <td th:text="${item.itemId}">ItemId</td>
                                <td th:text="${item.itemName}">ItemName</td>
                                <td th:text="${#numbers.formatDecimal(item.itemPrice, 1, 'COMMA', 2, 'POINT')}" class="text-right">0.00</td>
                                <form id="iteminorderinForm" th:id="'iioForm' + __${stat.index}__"
                                      th:object="${iteminorderin}"
                                      th:action="'../iteminorder'"
                                      th:method="@{post}" class="text-right">
                                    <td class="text-right">
                                        <input class="form-control" type="text" maxlength="5" value="1"
                                               min="1" max="99999" step="1"  onkeypress="return isNumberKey(event)" name="iioItemCount"/>
                                        <input id="orderId" type="hidden" th:value="${order.orderId}" name="iioOrderId"/>
                                        <input id="itemId" type="hidden" th:value="${item.itemId}" name="iioItemId"/>
                                        <input id="itemName" type="hidden" th:value="${item.itemName}" name="iioItemName"/>
                                        <input id="itemPrice" type="hidden" th:value="${item.itemPrice}" name="iioItemPrice"/>
                                    </td>
                                </form>
                                <td>
                                    <a class="btn btn-sm btn-success"
                                       th:href="@{/order/} + ${order.orderId}"
                                       th:onclick="@{document.forms['iioForm' + __${stat.index}__].submit(); return false;}">Add</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal"
                   th:href="@{/order/} + ${order.orderId}">Close</a>
            </div>
        </div>
    </div>
</div>

<!-- Confirm item removal from order -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm item removal from order
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Central Modal Medium Success-->
<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>

<!-- SCRIPT for delete IIO: -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)
        $(this).find('.modal-body').text('Confirm item removal: ' + target.data('id2name'))
        document.getElementById('deleteUrl').href = '../iteminorders/' + target.data('id1') + '/' + target.data('id2') + '/delete';
    })
</script>

<!-- SCRIPT for quantity input of items (iteminorder) -->
<script>
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

</body>
</html>