<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div id="head"></div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $('#head').load("ihead.html");
        $('#header').load("iheader.html");
        $('#footer').load("ifooter.html");
    })
</script>
</head>
<body>
<div style="height:60px" id="header"></div>
<nav id="headername" class="navbar bg-light text-dark">
    <h5>Cafemenu main page</h5>
</nav>

<section id="main">
    <div class="container-fluid">
        <div class="row">
                <a class="text-black">
                    Welcome to Cafe Menu Web application. <br>
                    Cafemenu - application for cafe employees to control of making orders (adding/editing items), filter them by date&time, editing and summarize by items price inside & item quantity.
                    <br><br></a>
                <a href="orders_list.html" class="btn btn-secondary">Next to Orders list</a>
        </div>
    </div>
</section>

<div id="footer"></div>
</body>

</html>