<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $('#head').load("ihead.html");
        $('#header').load("iheader.html");
        $('#footer').load("ifooter.html");
    })
</script>
<div id="head"></div>
</head>
<body>
<header><div id="header"></div>
234</header>

<section id="main">
    <div class="container-fluid">
        <div class="row">
                <a href="#" class="btn btn-secondary disabled">Login</a>
                <a href="orders_list.html" class="btn btn-secondary">Orders list for admin (Skip login)</a>
        </div>
    </div>
</section>
<div id="footer"></div>
</body>

</html>